{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check trading status of shares– {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="check-trading-status" method="post">

      <h1 class="govuk-heading-l">
        Check the trading status of shares
      </h1>

      <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Status
    </dt>
    <dd class="govuk-summary-list__value">
      Company shares were traded on a market during this confirmation period.
    </dd>
  </div>
  
  
</dl>


      

       <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" >
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
       Is the trading status of shares correct?
      </h2>
    </legend>
   
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sharesTradingStatus" name="sharesTradingStatus" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="sharesTradingStatus">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sharesTradingStatus-2" name="sharesTradingStatus" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="sharesTradingStatus-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

 <button type="submit" class="govuk-button" data-module="govuk-button">
 Continue
</button>


      </form>

    </div>
  </div>

{% endblock %}
