{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is the company number?– {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="company-number" method="post">

      
{# changed inputmode from numeric to text, as some company numbers can start with letters #}

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="company-number">
      What is your company number?
    </label>
  </h1>
  <div id="company-number-hint" class="govuk-hint">
    Enter the 8 character company number.
  </div>
  <input class="govuk-input govuk-input--width-10" id="account-number" name="companyNumber" type="text" spellcheck="false" aria-describedby="company-number-hint" inputmode="text">
</div>



  

    <h2 class="govuk-heading-s">How do I find the company number?</h2>
      
        <p class="govuk-govuk-body">
          You can find the company number by searching for the company on the <a href="https://www.gov.uk/get-information-about-a-company" class="govuk-link" rel="noreferrer noopener" target="_blank">Companies House register (opens in a new tab)</a>.</p>
        




        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
