{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
       v2 Index
      </h1>

      <p class="govuk-body">
        <a href="https://companieshouse.atlassian.net/wiki/spaces/UXD/whiteboard/5353177168?atl_f=PAGETREE" class="govuk-link govuk-link--no-visited-state">
          Danny's accessibility assessment of existing service
        </a>
      </p>
      <p class="govuk-body">
        <a href="/v2/accessibility-support-help-page" class="govuk-link govuk-link--no-visited-state">
          Accessibility support for Companies House users (draft)
        </a>
      </p>
      <p class="govuk-body">
        <a href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1748339691518/90be34aa3fb6b183db1b08fa04088a7fc801d788" class="govuk-link govuk-link--no-visited-state">
          Mural with flow
        </a>
      </p>

      <ul class="govuk-list govuk-list--bullet">    
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/start">
        Start
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/sign-in">
        Sign in
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/password">
        Password
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/company-number">
      Company number look up
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/confirm-company">Confirm company</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/authentication">Authentication</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/request-authentication">Request authentication</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/check-trading-status">Check trading status of shares</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/tasklist">Tasklist</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/check-sic-codes">Check SIC codes</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/check-statement-of-capital">Check statement of capital</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/officers">Check the officers</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/pscs">Check the PSCs</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/psc-statement">Check the PSC statement</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/shareholders">Check the shareholders</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/registered-email-address">Check the registered email address</a>
      </li>
       <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/registered-office-address">Check the registered office address</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/company-records">Check the company records</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/submit">Submit</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/confirmation">Confirmation</a>
      </li>
       <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/you-cannot-use-this-service">You cannot use this service</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/update-officer-details">Update officer details</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/update-psc-details">Update PSC details</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/update-registered-office">Update registered office address</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/v2/update-records-location">Update where the company records are kept</a>
      </li>
    </ul>

      

      

    </div>
  </div>

{% endblock %}
