{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check the registered office address – {{ serviceName }} 
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="registered-office-address" method="post">

      <h1 class="govuk-heading-l">
       Check the registered office address
      </h1>

<address class="govuk-body govuk-!-font-weight-bold">1 Croissant Street, <br> Croissant Town, <br>CR0 1ST</address>
      
       <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" >
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
       Is the registered office address correct?
      </h2>
    </legend>
    
    <div class="govuk-radios govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="officeAddress" name="officeAddress" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="officeAddress">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="officeAddress-2" name="officeAddress" type="radio" value="noUpdate">
        <label class="govuk-label govuk-radios__label" for="officeAddress-2">
          No, but an update has been submitted
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="officeAddress-3" name="officeAddress" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="officeAddress-3">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

  
    <button name="office-submit" value="office-submit" type="submit" class="govuk-button" data-module="govuk-button">
      Continue
    </button>
   
      

       

      </form>

    </div>
  </div>

{% endblock %}
