{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <form class="form" action="sign-in" method="post">


        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      We are introducing a new way to sign in to some of our services.
    </p>
  </div>
</div>

      <h1 class="govuk-heading-l">
        Sign in to Companies House
      </h1>
      <p class="govuk-body">
       If you have an existing Companies House account, enter your email address.
      </p>

      <div class="govuk-form-group">
  <h2 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--s" for="sign-in">
      Email address
    </label>
  </h2>
  <input class="govuk-input" id="sign-in" name="sign-in" type="text">
</div>

{{ govukButton({
          text: "Continue"
        }) }}


<p class="govuk-body"><a href="#" class="govuk-link">Create sign in details</a></p>


<h2 class="govuk-heading-m">GOV.UK One Login</h2>
<p class="govuk-body">This is the new way to sign in to some of our services</p>
<p class="govuk-body"><a href="#" class="govuk-link">Sign in with GOV.UK One Login</a> if you already have one.</p>


    </form>
      </div>
      </div>


{% endblock %}
