{% extends "layouts/main.html" %}

{% block pageTitle %}
  File a confirmation statement – {{ serviceName }} 
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <form class="form" action="tasklist" method="post">


{# Does the tasklist title need to be different to the service name, so the service header link doesn't appear to be linking to this page? Have added 'tasklist' for now #}
      <h1 class="govuk-heading-l">
       File a confirmation statement tasklist
      </h1>

      <p class="govuk-body">Check and confirm that the company information we have on record is correct as of 19 May 2025.</p>

     
     {# missing aria described by element #}
      <p class="govuk-body">You have checked <strong> X of Y</strong> sections.</p>


    <h2 class="govuk-heading-m">
       Nature of business
    </h2>

      <dl class="govuk-task-list">
  <div class="govuk-task-list__item govuk-task-list__item--with-link">
    <dt class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="check-sic-codes" aria-describedby="sicCodes-status">
        SIC Codes
      </a>
    </dt>
    <dd class="govuk-task-list__status" id="sicCodes-status">
      Complete
    </dd>
  </div>
  <div class="govuk-task-list__item govuk-task-list__item--with-link">
    <dt class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="check-statement-of-capital" aria-describedby="statementCapital-status">
        Statement of capital
      </a>
    </dt>
    <dd class="govuk-task-list__status" id="statementCapital-status">
      <strong class="govuk-tag govuk-tag--blue">
      Incomplete
      </strong>
    </dd>
  </div>
  </dl>


  <h2 class="govuk-heading-m">
      People
  </h2>

<dl class="govuk-task-list">
  <div class="govuk-task-list__item govuk-task-list__item--with-link">
    <dt class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="officers" aria-describedby="officers-status">
        Officers
      </a>
    </dt>
    <dd class="govuk-task-list__status" id="officers-status">
      Complete
    </dd>
  </div>
  <div class="govuk-task-list__item govuk-task-list__item--with-link">
    <dt class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="pscs" aria-describedby="pscs-status">
        People with significant control (PSCs)
      </a>
    </dt>
    <dd class="govuk-task-list__status" id="pscs-status">
      <strong class="govuk-tag govuk-tag--blue">
      Incomplete
      </strong>
    </dd>
  </div>
  <div class="govuk-task-list__item govuk-task-list__item--with-link">
    <dt class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="shareholders" aria-describedby="shareholders-status">
        Shareholders
      </a>
    </dt>
    <dd class="govuk-task-list__status" id="shareholders-status">
      <strong class="govuk-tag govuk-tag--blue">
      Incomplete
      </strong>
    </dd>
  </div>
  </dl>







      


    <h2 class="govuk-heading-m">
      Addresses
    </h2>


<dl class="govuk-task-list">
  <div class="govuk-task-list__item govuk-task-list__item--with-link">
    <dt class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="registered-email-address" aria-describedby="email-status">
        Registered email address
      </a>
    </dt>
    <dd class="govuk-task-list__status" id="email-status">
      <strong class="govuk-tag govuk-tag--blue">
      Incomplete
      </strong>
    </dd>
  </div>
  <div class="govuk-task-list__item govuk-task-list__item--with-link">
    <dt class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="registered-office-address" aria-describedby="office-status">
        Registered office address
      </a>
    </dt>
    <dd class="govuk-task-list__status" id="office-status">
      Complete
    </dd>
  </div>
  <div class="govuk-task-list__item govuk-task-list__item--with-link">
    <dt class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="company-records" aria-describedby="records-status">
        Company record locations
      </a>
    </dt>
    <dd class="govuk-task-list__status" id="records-status">
      <strong class="govuk-tag govuk-tag--blue">
      Incomplete
      </strong>
    </dd>
  </div>
  </dl>





      
       

     

       
<p class="govuk-body">You must complete all sections before you can submit.</p>
        {{ govukButton({
          text: "Submit",
          disabled: true
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
