{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/includes/user-bar.html" %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <form class="form" action="update-psc-details" method="post">

      <h1 class="govuk-heading-l">
        You need to update the company details
      </h1>

     

        <p class="govuk-body">
          You will need to update the people with significant control (PSC) details on our
          <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">WebFiling service (opens in a new tab)</a> before you can file a confirmation statement.
        </p>
        
        <p class="govuk-body">
          Return to this window after you have made the update.
        </p>


        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Have you updated the PSC details?
      </h2>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="updatePsc" name="updatePsc" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="updatePsc">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="updatePsc-2" name="updatePsc" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="updatePsc-2">
          No, I do not need to update the PSC details
        </label>
      </div>
    </div>
  </fieldset>
</div>



        {{ govukButton({
          text: "Return to confirmation statement"
        }) }}




       

      </form>

    </div>
  </div>

{% endblock %}
