{% extends "layouts/main.html" %}

{% block pageTitle %}
  Company authentication – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <form class="form" action="authentication" method="post">

      <h1 class="govuk-heading-l">
        Company authentication
      </h1>

      <p class="govuk-body">To file company information you will need an authentication code</p>

      <p> 
        <span class="govuk-body">Authenticating for</span>
        <span class="govuk-heading-m">CROISSANT COMPANY (01234567)</span>
      </p>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-weight-bold" for="width-10">
          Authentication code
        </label>
        <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
      </div>

     


        {{ govukButton({
          text: "Authenticate"
        }) }}

      <p class="govuk-body"><a href="request-authentication">Request an authentication code</a></p>

      </form>

    </div>
  </div>

{% endblock %}
