{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check trading status of shares– {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="check-trading-status" method="post">

      <h1 class="govuk-heading-l">
        Check the trading status of shares
      </h1>

      <p class="govuk-body">Company shares were traded on a market duing this confirmation period.</p>

      

       <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="sharesTradingStatus">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h2 class="govuk-fieldset__heading">
       Is the trading status of shares correct?
      </h2>
    </legend>
    {# <div id="sharesTradingStatus-hint" class="govuk-hint">
      This includes changing your last name or spelling your name differently
    </div> #}
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sharesTradingStatus" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="sharesTradingStatus">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sharesTradingStatus-2" name="sharesTradingStatus" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="sharesTradingStatus-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

  <div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Sumbit and go to next section
    </button>
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Submit and return to tasklist
    </button>
  </div>


      </form>

    </div>
  </div>

{% endblock %}
