{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start – {{ serviceName }} 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="start" method="post">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <p class="govuk-body-l">This service allows private limited companies to confirm that company information is correct and file a confirmation statement (previously known as an annual return).</p>

      <h2 class="govuk-heading-s">
        You can only use this service if the company:
      </h2>
      

      <ul class="govuk-list govuk-list--bullet">
        <li>is a private company limited by shares</li>
        <li>has only one shareholder</li>
        <li>has between 1 and 5 officers</li>
        <li>has 5 people with significant control (PSCs) or less</li>
        {# shouldn't it be 'fewer' because the PSCs are countable? #}
      </ul>

      <p class="govuk-body">If the company does not meet these criteria, you will need to file a confirmation statement using our <a href="https://ewf.companieshouse.gov.uk/" class="govuk-link">WebFiling service</a>.</p>

      <p class="govuk-body">You cannot use this service to make any changes to company information. You should <a href="https://cidev.aws.chdev.org/" class="govuk-link">check the company's details</a>and update any information that is incorrect or out of date before filing the confirmation statement.</p>

      <h2 class="govuk-heading-s">
        To file a confirmation statement, you'll need:
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>a Companies House account, which is different from a      WebFiling account</li>
        <li>the company number</li>
        <li>the company authentication code</li>
        <li>to pay the £34 annual fee using a credit or debit card</li>
      </ul>


      <div class="govuk-inset-text">
          You cannot pay with a Companies House payment account in this service.
      </div>


      <p class="govuk-body">It can take up to 15 minutes to file a confirmation statement. The service will time out after 60 minutes and your answers will not be saved.</p>

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      
      {# moved this to above the start button #}
      <p class="govuk-body"> <a href="https://www.gov.uk/guidance/confirmation-statement-guidance" class="govuk-link">Read the guidance on filing a confirmation statement</a>, including how to make changes to your company information.</p>


      {{ govukButton({
        text: "Start now"
              }) }}


{# taken this out of a details component #}
      <h2 class="govuk-heading-s">
        Other ways to file a confirmation statement
      </h2>
      <p class="govuk-body">You can also file a confirmation statement by post using the <a href="https://www.gov.uk/government/publications/confirmation-statement-form-cs01-new-version" class="govuk-link">CS01 paper form</a>. It costs £62 and will take longer to process than if you file online.</p>

      

    </div>

   
  </div>

{% endblock %}
