{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/path/of/next/page" method="post">

      <h1 class="govuk-heading-l">
        Check the standard industrial classification (SIC) codes
      </h1>

      <p class="govuk-body">The SIC code indicates the nature of the company's business. A company can have up to 4 SIC codes.</p>
      <p class="govuk-body">Check the <a class="govuk-link rel="noreferrer noopener" target="_blank"" href="#">condensed SIC codes list(opens in a new tab)</a>.</p>
      </p>

      <p class="govuk-body">Our records show these SIC codes for the company:</p>

      <p class="govuk-body govuk-!-font-weight-bold">43210</p> <p class="govuk-body">Electrical installation</p> <p class="govuk-body govuk-!-font-weight-bold">43230</p>

        

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
