{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-l"> Index</h2>

    <ul class="govuk-list govuk-list--bullet">    
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="start">
        Start
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="company-number">
      Company number look up
        </a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="confirm-company">Confirm company</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="authentication">Authentication</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="request-authentication">Request authentication</a>
      </li>
      </ul>
     

    
  </div>
</div>

{% endblock %}
