{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start – {{ serviceName }} 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <p class="govuk-body-l">This service allows private limited companies to confirm that company information is correct and file a confirmation statement (previously known as an annual return).</p>

      <h2 class="govuk-heading-m">
        You can only use this service if the company:
      </h2>
      

      <ul class="govuk-list govuk-list--bullet">
        <li>is a private company limited by shares</li>
        <li>has only one shareholder</li>
        <li>has between 1 and 5 officers</li>
        <li>has 5 people with significant control (PSCs) or less</li>
        {# shouldn't it be 'fewer' because the PSCs are countable? #}
      </ul>

      <p class="govuk-body">If the company does not meet these criteria, you will need to file a confirmation statement using our <a href="https://ewf.companieshouse.gov.uk/" class="govuk-link">WebFiling service</a>.</p>

      <p>Registering takes around 5 minutes.</p>

      {{ govukButton({
        text: "Start now",
        href: "#",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>
        You can also <a href="#">register by post</a>.
      </p>

      <p>
        The online service is also <a href="#">available in Welsh (ar gael yn Gymraeg)</a>.
      </p>

      <p>
        You can’t register for this service if you’re in the UK illegally.
      </p>

    </div>

   
  </div>

{% endblock %}
